.appSubNav {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 50px;
  padding: 0 2rem;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  position: sticky;
  top: 60px;
  z-index: 99;
}

.navLink {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent; 
}

.navLink.active {
  color: #01757A;
  font-weight: 700;
  border-bottom: 3px solid #01757A;
}