.appSubNav {
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-radius: 50px;
  padding: 6px;
  width: fit-content; 
  margin: 0 auto; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  gap: 6px;
  margin-top: 1rem;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.navLink {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap; 
}

.navLink.active {
  color: #FFF;
  font-weight: 700;
  background-color: #01757A; 
}

.navLink:not(.active):hover {
  background-color: #f0f0f0;
}


@media (max-width: 768px) {
  .appSubNav {
    width: auto;
    margin: 1rem; 
    overflow-x: auto;
    scrollbar-width: none;
  }

  .appSubNav::-webkit-scrollbar {
    display: none; 
  }

  .navLink {
    font-size: 14px;
    padding: 8px 16px;
  }
}