.buttonBase {
  align-items: center;
  border-radius: 40px;
  display: inline-flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 5px 20px;
  position: relative;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.buttonBase:hover {
  transform: scale(1.05);
  opacity: 0.9;
  background-color: #e57734;
}

.nav {
  background-color: #01757a;
}

.primary {
  background-color: #e57734;
}

.active {
  background-color: #e57734;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.nav {
  background-color: #01757a;
  border: 1px solid transparent;
}
