.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 22px;
  box-sizing: border-box;
  position: sticky;
  top: 0; 
  z-index: 10; 
  background-color: rgba(240, 240, 240, 0.6); 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.logoLink {
  text-decoration: none; 
  line-height: 0;
}

.navContainer {
  display: flex;
  gap: 55px;
}

.hamburgerIcon {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: #000;
  cursor: pointer;
}


@media (max-width: 768px) {
  .hamburgerIcon {
    display: block;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    z-index: 1000;
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }

  .navAberto {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
