.title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;

  color: #333;
}

.introParagraph {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 3rem;

  color: #333;
}

.contentGrid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  background-color: rgba(240, 240, 240, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 1.5rem;
  border-radius: 8px;

  color: #333;
}

.card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}

.card p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

@media (max-width: 768px) {
  .contentGrid {
    grid-template-columns: 1fr;
  }
}