.dashboardContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F4F4F4;
}

.appHeader {
  height: 60px;
  background-color: #01757A;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.appSubNav {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.dashboardContent {
  padding: 1.5rem;
  flex-grow: 1;
}